<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="scripts.AddAdress"/>
      <class name="scripts.RemoveWishlist"/>
      <class name="scripts.AddtoCart"/>
      <class name="scripts.Blanksearch"/>
      <class name="scripts.AddtoWishlist"/>
      <class name="scripts.SelectColor"/>
      <class name="scripts.Invalidpincode"/>
      <class name="scripts.Loging_Search"/>
      <class name="scripts.RemoveCart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
